<a href="https://colab.research.google.com/github/Kartikawasthi144/HR-data-analysis/blob/main/HR_Data_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
hr_data = pd.read_csv('/content/HR Data (3).csv')

In [3]:
hr_data.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

Removing unnecessary columns

In [5]:
unnecessary_columns = ['EmployeeCount', 'EmployeeNumber', 'Over18', 'StandardHours']

In [8]:
hr_data_cleaned = hr_data.drop(columns=unnecessary_columns)

In [9]:
#Rename Columns

In [10]:
new_column_names = {
    'Age': 'Age',
    'Attrition': 'Attrition',
    'BusinessTravel': 'Business_Travel',
    'DailyRate': 'Daily_Rate',
    'Department': 'Department',
    'DistanceFromHome': 'Distance_From_Home',
    'Education': 'Education',
    'EducationField': 'Education_Field',
    'EnvironmentSatisfaction': 'Environment_Satisfaction',
    'Gender': 'Gender',
    'HourlyRate': 'Hourly_Rate',
    'JobInvolvement': 'Job_Involvement',
    'JobLevel': 'Job_Level',
    'JobRole': 'Job_Role',
    'JobSatisfaction': 'Job_Satisfaction',
    'MaritalStatus': 'Marital_Status',
    'MonthlyIncome': 'Monthly_Income',
    'MonthlyRate': 'Monthly_Rate',
    'NumCompaniesWorked': 'Num_Companies_Worked',
    'OverTime': 'Over_Time',
    'PercentSalaryHike': 'Percent_Salary_Hike',
    'PerformanceRating': 'Performance_Rating',
    'RelationshipSatisfaction': 'Relationship_Satisfaction',
    'StockOptionLevel': 'Stock_Option_Level',
    'TotalWorkingYears': 'Total_Working_Years',
    'TrainingTimesLastYear': 'Training_Times_Last_Year',
    'WorkLifeBalance': 'Work_Life_Balance',
    'YearsAtCompany': 'Years_At_Company',
    'YearsInCurrentRole': 'Years_In_Current_Role',
    'YearsSinceLastPromotion': 'Years_Since_Last_Promotion',
    'YearsWithCurrManager': 'Years_With_Curr_Manager'
}

In [11]:
hr_data_cleaned = hr_data_cleaned.rename(columns=new_column_names)

In [12]:
# Display the cleaned dataset

print(hr_data_cleaned.head())

   Age Attrition    Business_Travel  Daily_Rate              Department  \
0   41       Yes      Travel_Rarely        1102                   Sales
1   49        No  Travel_Frequently         279  Research & Development
2   37       Yes      Travel_Rarely        1373  Research & Development
3   33        No  Travel_Frequently        1392  Research & Development
4   27        No      Travel_Rarely         591  Research & Development

   Distance_From_Home  Education Education_Field  Environment_Satisfaction  \
0                   1          2   Life Sciences                         2
1                   8          1   Life Sciences                         3
2                   2          2           Other                         4
3                   3          4   Life Sciences                         4
4                   2          1         Medical                         1

   Gender  ...  Performance_Rating  Relationship_Satisfaction  \
0  Female  ...                   3                          1
1    Male  ...                   4                          4
2    Male  ...                   3                          2
3  Female  ...                   3                          3
4    Male  ...                   3                          4

   Stock_Option_Level Total_Working_Years  Training_Times_Last_Year  \
0                   0                   8                         0
1                   1                  10                         3
2                   0                   7                         3
3                   0                   8                         3
4                   1                   6                         3

  Work_Life_Balance  Years_At_Company  Years_In_Current_Role  \
0                 1                 6                      4
1                 3                10                      7
2                 3                 0                      0
3                 3                 8                      7
4                 3                 2                      2

   Years_Since_Last_Promotion Years_With_Curr_Manager
0                           0                       5
1                           1                       7
2                           0                       0
3                           3                       0
4                           2                       2

[5 rows x 31 columns]

# Save the cleaned dataset

In [14]:
hr_data_cleaned.to_csv('cleaned_hr_data.csv', index=False)

Sanitizing Specific Columns

In [15]:
# 1. Sanitize 'Gender' column
# Standardize gender entries to 'Male', 'Female', or 'Other'
hr_data_cleaned['Gender'] = hr_data_cleaned['Gender'].map(lambda x: x.strip().lower())
hr_data_cleaned['Gender'] = hr_data_cleaned['Gender'].replace({'m': 'Male', 'f': 'Female'})

In [16]:
# 2. Sanitize 'Marital_Status' column
# Ensure consistency in marital status entries
hr_data_cleaned['Marital_Status'] = hr_data_cleaned['Marital_Status'].map(lambda x: x.strip().lower().capitalize())

In [17]:
# 3. Sanitize 'Business_Travel' column
# Standardize levels of business travel
hr_data_cleaned['Business_Travel'] = hr_data_cleaned['Business_Travel'].map(lambda x: x.strip().lower().capitalize())

In [18]:
# Display the sanitized dataset
print(hr_data_cleaned[['Gender', 'Marital_Status', 'Business_Travel']].head())

   Gender Marital_Status    Business_Travel
0  female         Single      Travel_rarely
1    male        Married  Travel_frequently
2    male         Single      Travel_rarely
3  female        Married  Travel_frequently
4    male        Married      Travel_rarely

In [19]:
# Save the sanitized dataset
hr_data_cleaned.to_csv('sanitized_hr_data.csv', index=False)

Eliminate NaN values from the dataset

In [20]:

hr_data_cleaned = hr_data_cleaned.dropna()

In [21]:
# Display the shape of the dataset after removing NaN values
print("Shape of dataset after removing NaN values:", hr_data_cleaned.shape)

Shape of dataset after removing NaN values: (1470, 31)

In [22]:
# Save the dataset without NaN values
hr_data_cleaned.to_csv('hr_data_without_nan.csv', index=False)

In [23]:
print(hr_data_cleaned)

      Age Attrition    Business_Travel  Daily_Rate              Department  \
0      41       Yes      Travel_rarely        1102                   Sales
1      49        No  Travel_frequently         279  Research & Development
2      37       Yes      Travel_rarely        1373  Research & Development
3      33        No  Travel_frequently        1392  Research & Development
4      27        No      Travel_rarely         591  Research & Development
...   ...       ...                ...         ...                     ...
1465   36        No  Travel_frequently         884  Research & Development
1466   39        No      Travel_rarely         613  Research & Development
1467   27        No      Travel_rarely         155  Research & Development
1468   49        No  Travel_frequently        1023                   Sales
1469   34        No      Travel_rarely         628  Research & Development

      Distance_From_Home  Education Education_Field  Environment_Satisfaction  \
0                      1          2   Life Sciences                         2
1                      8          1   Life Sciences                         3
2                      2          2           Other                         4
3                      3          4   Life Sciences                         4
4                      2          1         Medical                         1
...                  ...        ...             ...                       ...
1465                  23          2         Medical                         3
1466                   6          1         Medical                         4
1467                   4          3   Life Sciences                         2
1468                   2          3         Medical                         4
1469                   8          3         Medical                         2

      Gender  ...  Performance_Rating  Relationship_Satisfaction  \
0     female  ...                   3                          1
1       male  ...                   4                          4
2       male  ...                   3                          2
3     female  ...                   3                          3
4       male  ...                   3                          4
...      ...  ...                 ...                        ...
1465    male  ...                   3                          3
1466    male  ...                   3                          1
1467    male  ...                   4                          2
1468    male  ...                   3                          4
1469    male  ...                   3                          1

      Stock_Option_Level Total_Working_Years  Training_Times_Last_Year  \
0                      0                   8                         0
1                      1                  10                         3
2                      0                   7                         3
3                      0                   8                         3
4                      1                   6                         3
...                  ...                 ...                       ...
1465                   1                  17                         3
1466                   1                   9                         5
1467                   1                   6                         0
1468                   0                  17                         3
1469                   0                   6                         3

     Work_Life_Balance  Years_At_Company  Years_In_Current_Role  \
0                    1                 6                      4
1                    3                10                      7
2                    3                 0                      0
3                    3                 8                      7
4                    3                 2                      2
...                ...               ...                    ...
1465                 3                 5                      2
1466                 3                 7                      7
1467                 3                 6                      2
1468                 2                 9                      6
1469                 4                 4                      3

      Years_Since_Last_Promotion Years_With_Curr_Manager
0                              0                       5
1                              1                       7
2                              0                       0
3                              3                       0
4                              2                       2
...                          ...                     ...
1465                           0                       3
1466                           1                       7
1467                           0                       3
1468                           0                       8
1469                           1                       2

[1470 rows x 31 columns]

Looking For Few More Changes

In [24]:
from scipy import stats
from sklearn.preprocessing import MinMaxScaler

In [25]:
# 1. Outlier Detection and Handling using Z-score
z_scores = stats.zscore(hr_data_cleaned.select_dtypes(include=['int64', 'float64']))
abs_z_scores = abs(z_scores)
filtered_entries = (abs_z_scores < 3).all(axis=1)
hr_data_cleaned = hr_data_cleaned[filtered_entries]

In [26]:
# 2. Encoding Categorical Variables (One-hot encoding)
hr_data_encoded = pd.get_dummies(hr_data_cleaned, columns=['Business_Travel', 'Department', 'Education_Field', 'Job_Role', 'Marital_Status'])

In [27]:
# 3. Feature Engineering: Calculate total years in current role and with current manager
hr_data_encoded['Total_Years_In_Current_Role_Manager'] = hr_data_encoded['Years_In_Current_Role'] + hr_data_encoded['Years_With_Curr_Manager']

In [28]:
# 4. Normalization/Standardization using MinMaxScaler
scaler = MinMaxScaler()
numerical_cols = ['Age', 'Daily_Rate', 'Distance_From_Home', 'Hourly_Rate', 'Percent_Salary_Hike', 'Total_Working_Years', 'Training_Times_Last_Year', 'Years_At_Company', 'Years_Since_Last_Promotion', 'Total_Years_In_Current_Role_Manager']

In [30]:

# Display the processed dataset
print(hr_data_encoded.head())

   Age Attrition  Daily_Rate  Distance_From_Home  Education  \
0   41       Yes        1102                   1          2
1   49        No         279                   8          1
2   37       Yes        1373                   2          2
3   33        No        1392                   3          4
4   27        No         591                   2          1

   Environment_Satisfaction  Gender  Hourly_Rate  Job_Involvement  Job_Level  \
0                         2  female           94                3          2
1                         3    male           61                2          2
2                         4    male           92                2          1
3                         4  female           56                3          1
4                         1    male           40                3          1

   ...  Job_Role_Manager  Job_Role_Manufacturing Director  \
0  ...                 0                                0
1  ...                 0                                0
2  ...                 0                                0
3  ...                 0                                0
4  ...                 0                                0

   Job_Role_Research Director  Job_Role_Research Scientist  \
0                           0                            0
1                           0                            1
2                           0                            0
3                           0                            1
4                           0                            0

  Job_Role_Sales Executive  Job_Role_Sales Representative  \
0                        1                              0
1                        0                              0
2                        0                              0
3                        0                              0
4                        0                              0

   Marital_Status_Divorced  Marital_Status_Married  Marital_Status_Single  \
0                        0                       0                      1
1                        0                       1                      0
2                        0                       0                      1
3                        0                       1                      0
4                        0                       1                      0

   Total_Years_In_Current_Role_Manager
0                                    9
1                                   14
2                                    0
3                                    7
4                                    4

[5 rows x 51 columns]

In [31]:
# Save the processed dataset
hr_data_encoded.to_csv('processed_hr_data.csv', index=False)